html, body {
    margin: 0;
    background-color: #FFF;
    position: relative;
    font-family: Whitney, Verdana, Arial;
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    font-family: Merriweather;
}

footer {
    background-color: #333030;
}

footer div.pageCentering {
    height: 350px;
}

footer ul#menu-main-navigation-1 li a {
    color: #FFF;
}

footer div.footerMenu {
    position: absolute;
    bottom: 20px;
    left: 0;
}

footer div.footerMenu p {
    float: left;
    margin: 0 75px 0 0;
    padding: 0;
    color: #bebdbd;
}
footer div.footerMenu div.menu-footer-nav-container {
    float: left;
}

footer div.footerMenu ul {
    padding: 0;
    margin: 0;
}
footer div.footerMenu ul li {
    list-style: none;
    float: left;
    margin-right: 25px;
}
footer div.footerMenu ul li a {
    text-decoration: none;
    color: #bebdbd;
}
footer div.footerMenu ul li a:hover {
    text-decoration: underline;
}

footer div.footerContact {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 409px;
    color: #bebdbd;
}
footer div.footerContact h2 {
    font-size: 64px;
    color: #bebdbd;
    margin: 0;
    padding: 0 0 25px 0;
}

footer div.footerContact table {
    width: 100%;
}
footer div.footerContact table td {
    width: 33.3%;
}

div.menu-main-navigation-container {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 9;
}

div.menu-main-navigation-container ul li {
    float: right;
    list-style: none;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

div.menu-main-navigation-container ul li a {
    text-decoration: none;
    color: #000;
}
div.menu-main-navigation-container ul li a:hover {
    text-decoration: underline;
}

a#logo img {
    width: 150px;
    padding: 25px 0 25px 0;
}

div#topStripe {
    background-color: #000;
    height: 15px;
}

div.pageCentering {
    position: relative;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.contentCentering {
    position: relative;
    margin: 0 150px;
}

div.landingTop {
    height: 850px;
    background-color: #89c2c2;
}

div.landingPageTeaser p {
    color: #FFF;
    margin: 0;
    font-size: 18px;
}

h1.landingPageSplash {
    position: absolute;
    top: 50px;
    left: 300px;
    font-size: 72px;
}

h1.landingPageSplash div:nth-of-type(1) {
    color: #FFF;
}

div.landingPageListContainer {
    position: relative;
    margin: 200px 0 0 0;
}

div.landingPageListContainer div {
    color: #FFF;
    padding-bottom: 5px;
    margin: 0;
}

div.landingTop img#pointer {
    height: 9px;
    display: none;
    position: absolute;
}

div.landingTopArea img#paperPlane {
    position: absolute;
    bottom: 50px;;
    right: 10px;
    width: 400px;
}
div.landingTopArea {
    height: 850px;
}

ul#menu-business-challanges{
    padding: 0;
    margin: 0;
}

ul#menu-business-challanges li{
    list-style: none;
    color: #000;
    margin: 0;
    padding-bottom: 3px;
}

ul#menu-business-challanges li a{
    text-decoration: none;
    color: #000;
}

ul.socialMedia {
    position: fixed;
    bottom: 0px;
    left: 20px;
    padding: 0;
    margin: 0;
}

ul.socialMedia li {
    list-style: none;
    margin: 25px 0 25px 0;
}

ul.socialMedia li a {
    padding: 10px 0 10px 0;
}

ul.socialMedia li a img {
    width: 15px;
}