html, body {
    margin: 0;
    background-color: #FFF;
    position: relative;
    font-family: Whitney, Verdana, Arial;
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    font-family: Merriweather;
}

div.search-form-container {
    margin: 8px 0 0 15px;
    padding: 0;
    float: right;
    max-width: 150px;
}

footer {
    color: #bebdbd;
}

footer ul#menu-footer-nav li {
    list-style: none;
    float: left;
    margin-right: 25px;
}
footer ul#menu-footer-nav li a {
    text-decoration: none;
    color: #bebdbd;
}
footer ul#menu-footer-nav li a:hover {
    text-decoration: underline;
}
footer div.footerContact h2 {
    font-size: 64px;
    color: #bebdbd;
    margin: 0;
    padding: 0 0 25px 0;
}

/* Overwrite some bootstrap stuff to make it prettier */
.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}
/*
div.menu-main-navigation-container {
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 9;
}

div.menu-main-navigation-container ul li {
    float: right;
    list-style: none;
    padding: 0 15px;
    margin: 0;
    text-align: center;
}

div.menu-main-navigation-container ul li a {
    text-decoration: none;
    color: #000;
}
div.menu-main-navigation-container ul li a:hover {
    text-decoration: underline;
}
*/
a#logo img {
    width: 150px;
    padding: 25px 0 25px 0;
}

div#topStripe {
    height: 15px;
}

div.pageCentering {
    position: relative;
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

div.contentCentering {
    position: relative;
    margin: 0 150px;
}

div.footer {
    background-color: #333030;
}

div#bs-navbar-collapse-bottom ul li a {
    color: #FFF;
}
div.footer-info {
    margin: 50px 0 15px 0;
}
div.footer-info p {
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
    color: #bebdbd;
}
div.footer-info ul {
    padding: 0;
    margin: 0;
    float: left;
}

div.adapt-row {
    margin: 0;
}

ul.socialMedia {
    position: fixed;
    top: 200px;
    left: 20px;
    padding: 0;
    margin: 0;
}

ul.socialMedia li {
    list-style: none;
    margin: 25px 0 25px 0;
}

ul.socialMedia li a {
    padding: 10px 0 10px 0;
}

ul.socialMedia li a img {
    width: 15px;
}

@media screen and (max-width: 768px) {
    div#bs-navbar-collapse {
        position: absolute;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        width: 100%;
        top: 45px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90% !important;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100% !important;
        padding: 0 !important;;
        margin: 0 !important;;
    }
}
