html, body {
    background-image: linear-gradient(to top, #89c2c2, #89c2c2);
    background-repeat: no-repeat;
    background-size: 100% 900px;
}

div.landingTop {
    height: 850px;
    background-color: #89c2c2;
}

div.landingPageTeaser {
    margin-bottom: 50px;
}

div.landingPageTeaser p {
    color: #FFF;
    margin: 0;
    font-size: 18px;
}

div.landingPageSplashContainer {
    margin: 0px 0 50px 0;
}

h1.landingPageSplash {
    font-size: 2vw;
    margin-top: 0;
}

h1.landingPageSplash div:nth-of-type(1) {
    color: #FFF;
}
h1.landingPageSplash div:nth-of-type(2) {
    display:    inline-block !important;
}

div.landingPageListContainer {
    position: relative;
}

div.landingPageListContainer div {
    color: #FFF;
    padding-bottom: 5px;
    margin: 0;
}

div.landingPageListContainer img#pointer {
    height: 9px;
    display: none;
    position: absolute;
}

div.topContainer {
    position: relative;
    height: 709px;
}

div.paper-plane img {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 400px;
}

ul#menu-business-challanges{
    padding: 0;
    margin: 0;
}

ul#menu-business-challanges li{
    list-style: none;
    color: #000;
    margin: 0;
    padding-bottom: 3px;
}

ul#menu-business-challanges li a{
    text-decoration: none;
    color: #000;
}

ul.socialMedia {
    position: fixed;
    bottom: 0px;
    left: 20px;
    padding: 0;
    margin: 0;
}

ul.socialMedia li {
    list-style: none;
    margin: 25px 0 25px 0;
}

ul.socialMedia li a {
    padding: 10px 0 10px 0;
}

ul.socialMedia li a img {
    width: 15px;
}

/** Landing Page Typer script blinking cursor **/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/**
    MEDIA
 */

@media screen and (max-width: 768px) {
    html, body { background-size: 100% 575px; }
    h1 {font-size: 8.2vw !important;}
    ul.socialMedia {left: auto; right: 20px !important;}
}
@media screen and (min-width: 768px) and (max-width: 1770px) {
    h1 {font-size: 4.5vw !important;}
}
@media screen and (min-width: 1771px) {
    h1 {font-size: 3vw !important;}
}