div.slick-list {
    background-color: #FFF;
}
div.slick-list div.slick-slide {
    /*height: 25vw;*/
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
div.landing-page-carousel-container {
    padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
    div.slick-list div.slick-slide {
        height: 250px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1770px) {
    div.slick-list div.slick-slide {
        height: 350px;
    }
}
@media screen and (min-width: 1771px) {
    div.slick-list div.slick-slide {
        height: 450px;
    }
}
/*
div.carousel div.carousel-caption a {
    color: #FFF;
}*/